@import "./components/navbar.less";
@import "./views/home.less";
@import "./views/post.less";
@import "./views/quiz.less";
@import "./views/quiz-result.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.page {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h2 {
    font-weight: 500;
    padding-bottom: 16px;
  }
}
